<h1>東京理科大学映画研究部</h1>

<h2>上映会一覧</h2>

<table>
<% @screenings.each do |screening| %>
  <tr>
    <td>第<%= screening.nth %>回</td>
    <td><%= link_to screening.subtitle, screening_movies_path(screening) %></td>
    <td><%= link_to 'Show', screening %></td>
    <td><%= link_to 'Edit', edit_screening_path(screening) %></td>
    <td><%= link_to 'Destroy', screening, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Screening', new_screening_path %>
