%h1 映画一覧

.row
  - @movies.each do |movie|
    .span4
      %h2= link_to movie.title, screening_movie_path(@screening, movie)
      %p #{movie.description}

      - if current_user && current_user.admin?
        = link_to 'Edit', edit_screening_movie_path(@screening, movie) 
        = link_to 'Destroy', screening_movie_path(@screening, movie), method: :delete, data: { confirm: 'Are you sure?' }

= link_to 'New Movie', new_screening_movie_path(@screening) if current_user && current_user.admin? 