<%= form_for(@review, url: screening_movie_reviews_path(@screening, @movie)) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total %><br />
    <%= f.number_field :total, :in => 1..5%>
  </div>
    <div class="field">
    <%= f.label :script %><br />
    <%= f.number_field :script, :in => 1..5%>
  </div>
    <div class="field">
    <%= f.label :edit %><br />
    <%= f.number_field :edit, :in => 1..5%>
  </div>
    <div class="field">
    <%= f.label :performance %><br />
    <%= f.number_field :performance, :in => 1..5%>
  </div>
  <div class="field">
    <%= f.label :camera %><br />
    <%= f.number_field :camera, :in=> 1..5%>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
