<!DOCTYPE html>
<html>
<head>
  <title>Syukeikun</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  ようこそ、<%= current_user.nickname %>さん
  <%= link_to 'ログアウト', logout_path, method: :delete %>
<% else %>  
  <%= link_to 'ログイン', login_path %>
  <%= link_to '登録', new_user_path %>
<% end %>

<%= yield %>

</body>
</html>
